    .main-menu {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        //max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        transition: all 0.4s ease;
        background-color: rgba(0,0,0,1);
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .logotype {
            display: flex;
            flex-direction: row;
            .logo {

                padding-left: 240px;
                padding-top: 10px;
                margin: 0;
            };

            i {
                display: none;
            };
        };

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: flex-end;
            padding-right: 50px;
            margin: 0;
            max-width: 1400px;
            width: 100%;
            
            li {
                padding: 20px;
                font-size: $menu-font-size;
                text-transform: uppercase;
                font-family: $title-font;
                font-weight: 500;
                color: $title-secondary-color;
                &:hover {
                    color: $brand-color;
                };
            };
        };
    };

    @media(max-width: 767px) {
        .main-menu {
            z-index: 100;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            //max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            transition: all 0.4s ease;
            background-color: rgba(0,0,0,1);
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .logotype {
                display: flex;
                flex-direction: row;
                .logo {
    
                    padding-left: 240px;
                    padding-top: 10px;
                    margin: 0;
                };
    
                i {
                    display: none;
                };
            };
    
            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                justify-content: flex-start;
                padding-left: 20px;
                margin: 0;
                max-width: 1400px;
                width: 100%;
                
                li {
                    padding: 20px 5px;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-family: $title-font;
                    font-weight: 500;
                    color: $title-secondary-color;
                    &:hover {
                        color: $brand-color;
                    };
                };
            };
        };
    };